// @import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');


$gradient: linear-gradient(
    -320deg,
    hsl(225deg 62% 36%) 0%,
    hsl(311deg 50% 43%) 78%,
    hsl(329deg 79% 54%) 100%
  );

$blue:#234096;
$purple:#412E7C;
$light-pink: #E62B8C;
$red: #491B1C;

// $white: #E1E1E1;
$white: #e1dcdc;
// $white: #1c1c1c;
$background-color: #1c1c1c;
// $background-color: rgb(255, 250, 250);

$title-font: 'Mynerve', cursive;