@import '../../../variables';



.fixed-container {
    background-color: $background-color;
    position: fixed;
    width: 100%;
    z-index: 10;
    .nav-container {
    display: flex;
    
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    height: 80px;
    margin: 0 auto;
    h2 {
        text-align: center;
        color: $white;
        margin: 0;
    }

    .nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

        .admin {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        a {
            transition: 300ms ease-in-out;
            &:hover {
                background:$gradient;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &.active {
                color: $light-pink;
              }
        }

       
    }

    .socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
    }

    .burger-menu {
        color: white;
        display: none;
    }

    .nav-mobile {
        position: absolute;
        top: 0;
        left: -100%;
    }
}
}



/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 426px) {
    .fixed-container {
        .nav-container {
        display: initial;

        .nav-list {
            display: none;
        }

        h2 {
            display: none;
        }

        .socials {
            display: none;
        }

        .burger-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // padding-top: 16px;
            height: 40px;
            img {
                width: 10%;
                // display: block;

            }
            .burger-icons {
                display: flex;
                align-items: center;
                z-index: 1000;
            }
        }

        .nav-mobile.active {
            z-index: 20;
            position: absolute;
            top: 0;
            left: 0px;
            width: 100%;
            height: 60vh;
            background-color: rgba(0, 0, 0, 0.965);
            transition: 300ms;
            .nav-list-mobile {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                height: 100%;
            }
        }
    }
    }
}