@import '../../../variables';


.card {
//    background-color: #8DADFF;
    .controls {
        .play {
            background: linear-gradient(#fff 0%, #cecaca 100%);
            &::before {
                position: absolute;
                content: "";
                height: 2.5rem ;
                width: 2.5rem;
                border-radius: 50%;
                background: linear-gradient(#8DADFF, #6E72A3 100%);
                
            }
            .play-icon {
                background: #fff;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent ;
                // z-index: 12;
                position: absolute
            }
        }
        .volume {
            background-color: #333;
            border: 1px solid #555;
            transition: bottom .2s linear;
            
            .volume-range {

            }
        }
        .volume.show {
            bottom: 0;
        }
       
    }
}